.admin {
  margin: 20px;
  color: #fff;

  h1 {
    font-size: 24px;
    margin-bottom: 2rem;
  }

  table {
    width: 100%;
    text-align: left;
  }

  th,
  td {
    border-radius: 1rem;
  }

  th,
  td {
    font-size: 0.8rem;
    background-color: #3e3f56;
  }

  th {
    padding: 1rem;
  }

  td {
    padding: 1rem;
  }

  .admin-btn {
    margin-top: 2rem;
    width: auto;
  }
}
